{% extends "logAdmin.html" %}


{% block content %} 
	<div class="page-header" style="text-align: left;">
	  <h1>Attendance for {{date}}</h1><br>
	</div>


	<div style="text-align: left;">
		<h3>Students Expected: </h3>
		<form method=POST action="/attendance/{{weeks}}/{{date}}/{{cid}}">
			{% with classStudents = students%}
			{% for s in classStudents %}
				<input type="checkbox" name="sid" value="{{s.sid}}"> {{s.name}}<br>
			{% endfor %}
			<br>
			{% endwith %}
			<input type="submit" class="btn btn-outline btn-xl" name="submit-btn" value="Submit">
			<a href="/admin-schedule/{{weeks}}" class="btn btn-outline btn-xl">Back</a>
		</form>
	

	</div>
{% endblock %}