<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>800Club</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap2.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<!-- Custom fonts for this template -->
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.js') }}"></script> -->
		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='new-age.css') }}" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="/">800Club</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav">
						{% block navbar %}
						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>
		<header class="masthead" {% if hideContent %}style="height:90vh;"{% endif %}>
			<div class="container h-50">
				<div class="row h-100">
					<div class="col-lg-7 my-auto">
						<div class="header-content">
							<div id="title">
								{% block title %}
									<h1 class="mb-5">{{pageTitle}}</h1>
									<h3 class="mb-5" style="color: #ffffff !important;">{{subheading}}</h3>
								{% endblock %}
							</div>
							{% with messages = get_flashed_messages() %}
							{% if messages %}
								<div id="messages">
									{% for msg in messages %}
										<p>{{msg}}</p>
									{% endfor %}
								</div>
							{% endif %}
						{% endwith %}
						<p style="white-space: nowrap !important;">
							{% block buttons %}
							{% endblock %}
						</p>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="download bg-primary text-center" id="download" {% if hideContent %}style="display:None;"{% endif %}>
			<div class="container">
				<div class="section-heading text-center">
					<div id="content">
						{% block content %}
						{% endblock %}
					</div>
				</div>
				<div class="row"></div>
				<hr>
			</div>
		</section>
		
		{% block jquery_scripts %} {% endblock %}
		<footer>
			<div class="container">
				<p>&copy; 2017 800Club.</p>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#">Privacy</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Terms</a>
					</li>
					<li class="list-inline-item">
						<a href="#">FAQ</a>
					</li>
				</ul>
			</div>
		</footer>
		<!-- Bootstrap core JavaScript -->
		<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		
		<!-- Plugin JavaScript -->
		<script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
		<!-- Custom scripts for this template -->
		<script src="{{url_for('static', filename='new-age.min.js')}}"></script>
	</body>
</html>