{% extends "logUser.html" %}

{% block content %} 
<div class="page-header" style="text-align: center;">
  <h1>Please Confirm</h1>
</div>
<p>Do you want to reschedule your class on {{dateSpecific.classDate}} from {{classInfo.startTime}} to {{classInfo.endTime}}?
<br>

<form method=POST action="">
<input type="submit" name="submit" style="color: #A13F65" value="Yes" class="btn btn-outline btn-xl">
<input type="submit" name="submit" style="color: #A13F65" value="No" class="btn btn-outline btn-xl">

</form>

<br>
<p>Note: You will be prompted to select an alternative time slot on the next page. 
{% endblock %} 
