{% extends "base.html" %}
{% block navbar %}
	
<!-- Notifications bar -->
<li class="nav-item">

	<!-- Notifications Link and Count badge -->
	<a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#myModal">Notifications
		<span class="badge-primary" style="background-color:none;">
			{% if unverified %}({{unverified|length}}){% endif %} 
		</span>
	</a>
	
	<!-- Popup of notifications -->
	<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
		<div class="modal-dialog">
			<!-- Content contained within the notifications popup -->
			<div class="modal-content" style="font-family:Helvetica Neue; letter-spacing:normal; font-weight:normal;">
				
				<!-- Title, close x -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>						
					<h3 class="modal-title">Notifications</h3>
				</div>
				
				<!-- Main body of notifications bar -->
				<div class="modal-body">
					Click on a student for more details.
					
					<!-- Displaying new registrants if there are any new ones -->
					{% if unverified %}
						<div class="registrants">
							<h5>New Registrants</h5>
								
								{% for student in unverified %}
									<div class="panel panel-default">
										<!-- Display the student's name -->
										<div class="panel-heading" data-toggle="collapse" data-target="#registrants-{{student.username}}">
										  	{{student.name}}
										</div>

										<!-- Form that displays student info and asks admin to insert their hourly rate and weekly class slot -->
										<div id="registrants-{{student.username}}" class="panel-body collapse">
                							<form id="approveform" action="{{url_for('approve')}}" method="post" class="form-horizontal"> 

                								<!-- So we have access to the student sid in flask -->
					                            <input type="hidden" name="sid" value="{{student.sid}}" class="form-control" placeholder="{{student.sid}}" aria-describedby="sizing-addon2"> 

					                            <!-- Basic student information, non-editable -->
												<b>Joined:</b> {{student.joinDate}}
											  	<br><b>Grade:</b> {{student.grade}}
										  		<br><b>Email Address:</b>
										  			<a href="mailto:{{student.email}}">{{student.email}}</a>
										  		<br><b>Phone Number:</b> {{student.phone}}

										  		<!-- We retreive the student's preference from their join form fill-out. Admin can overwrite their preference or select it -->
										  		<br><b>Weekly Class: </b><em><small>(Note: student prefers 
										  			<a href="/class/{{student.cid}}">{{student.day}} {{student.startTime}}-{{student.endTime}})</a></small></em>
									  			
                    							<select name="classChoice" class="btn-square btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required></button>
                    							<option value="" disabled selected>Choose the student's class</option>
											    <span class="caret"></span>

											    <!-- Display all classes which the admin can choose from. 
											    	In later versions we will probably filter through these classes - only allow at certain grade levels, etc. -->
											  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											  		{% if allClasses %}
					                                	{% for class in allClasses %}
					                                    	<li>
					                                    	<option value="{{class.cid}}" required> {{class.day}}, {{class.startTime}}-{{class.endTime}}
					                                		</option>
					                                		</li>
					                                	{% endfor %}
											    	{% endif %}
											  	</ul>
											    </select>

											    <!-- Text field where admin must enter rate to charge student -->
										  		<br><b>Hourly Rate: </b>
												<div class="input-group col-md-4">
												  <span class="input-group-addon" id="sizing-addon">$</span>
												  <input type="number" name="hour_rate" class="form-control" placeholder="Set a Rate" aria-describedby="sizing-addon2" required>
												</div>

												<!-- Accept & deny submit buttons -->
										  		<div class="btn-group" role="group" aria-label="...">
	  												<br><input type="submit" name="submit" value="Accept" class="btn-square btn-success">
	  												<input type="submit" name="submit" value="Deny" class="btn-square btn-default">
	  											</div>
	  										
	  										</form>
										</div>
									</div>
								{% endfor %}
						</div>
					{% endif %}

					<br><br><b><u>Rescheduled and Payment is not implemented yet. Below is an example of what they could look like in future:</u></b>
					<div class="rescheduled">
						<h5>Rescheduled Classes</h5>
						<div class="panel panel-default">
						  <div class="panel-heading" data-toggle="collapse" data-target="#rescheduled-body">
						  	Troy Bolton
						  </div>

						  <div id="rescheduled-body" class="panel-body collapse">
						    <b>Cancelled Class: </b> 10/11/17, Monday 1:30pm to 2:30pm
						    <br><b>New Class: </b> 11/12/17, Tuesday 3:00pm to 4:00pm
						  </div>
					</div>

					<div class="payment">
						<h5>Awaiting Payment</h5>
						<p>December 2017
						<div class="panel panel-default">
						  <div class="panel-heading" data-toggle="collapse" data-target="#payment-body">
						    Gabriella Montez
						  </div>
						  <div id="payment-body" class="panel-body collapse">
						  	<b>Amount Payable:</b> $300.25
						  	<br><b>Classes Attended:</b> 4
						  	<br><u>Send Gabriella an Email Reminder</u>
						  </div>
						</div>
					</div>

					<!-- Extra close button at the bottom of the bar -->
					<div class="modal-footer">
						<button type="button" class="btn-square btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</li>

<li class="nav-item">
	<a class="nav-link js-scroll-trigger" href="/upload">Upload Files</a>
</li>

<!-- Basic logout link -->
<li class="nav-item">
	<a class="nav-link js-scroll-trigger" href="/logout">Sign Out</a>
</li>
{% endblock %}

{% block buttons %}
	<!-- Main admin nav links to other pages -->
	<br>
	<a href="/admin-schedule" class="btn btn-menu btn-xl">Weekly Schedule</a>
	<a href="/search" class="btn btn-menu btn-xl">Search Student</a>
	<a href="/payment" class="btn btn-menu btn-xl">Payment</a>
	<a href="/edit/classes" class="btn btn-menu btn-xl">Edit Classes</a>
{% endblock %}
