{% extends "base.html" %}
{% block navbar %}
   <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/student">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/logout">Sign Out</a>
    </li>
{% endblock %}
    {% block buttons %}   
    <br><a href="/schedule/" class="btn btn-menu btn-xl">Classes Record</a>
    <a href="/student/payment" class="btn btn-menu btn-xl">Payment</a>
    <a href="/documents/" class="btn btn-menu btn-xl">Resources</a>
    {% endblock %}