{% extends "logAdmin.html" %}
 
{# replaces default content block #}
{% block content %} 

      <!--Select form that user can choose an incomplete movie from.-->          
                        <!--Fills out the drop down menu with incomplete movies-->     
        
        <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Grade</th>
        </tr>
        {% for student in allStudents %}
            <tr>
            <td><a href="/student/{{student.sid}}/">{{student.name}}</a></td>
            <td>{{student.grade}}</td>
            </tr>
        {% endfor %} 
        </table>
{% endblock %}