{% extends "logUser.html" %}

{% block content %} 
<div class="page-header" style="text-align: center;">
  <h1>Select an Alternative Class</h1>
</div>
<br>
These are the classes with spots remaining. You can check back later as more spots may open up as 
other students reschedule their classes.

<form method=POST action="/newClass/{{grade}}">
        <table>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
        </tr>
        {% for class in allClasses %}
          <tr>
            <td>{{class.classDate}}</td>
            <td>{{class.day}}</td>
            <td> {{class.startTime}} - {{class.endTime}} </td>
			      <td><a href= "{{url_for('reschedule',classDate=class.classDate, cid=class.cid)}}"<input type="submit"value="Select" name="Select" class="btn btn-outline btn-xl">Select</a></td>
            </tr>
        {% endfor %} 
        </table>
</form>

{% endblock %} 
