
{% if session['username'] =="admin" %}
  {% extends "logAdmin.html" %}
{% else %}
  {% extends "logUser.html" %}
{% endif %}
 
{# replaces default content block #}
{% block content %} 

    <!--Form that shows all movie data. Contains fields that user can update-->          
      <table>
        <tr>
          <td><label>Grade</label></td>
          <td>{{grade}}</td>
        </tr>
        <tr>
          <td><label>Email</label></td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td><label>Phone</label></td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td><label>Hourly Rate</label></td>
          <td>${{rate}}</td>
        </tr>
        <tr>
          <td><label>Join Date</label></td>
          <td>{{joinDate}}</td>
        </tr>
        <tr>
          <td><label>Main Class</label></td>
          <td><a href="/class/{{cid}}">{{day}}, {{startTime}} - {{endTime}}</a></td>
        </tr>
      </table>

{% if session['username'] =="admin" %}

  <a href="/schedule/{{sid}}" class="btn btn-outline btn-xl">Classes Record</a>

{% endif %}

{% endblock %}