{% extends "logAdmin.html" %}
 
{# replaces default content block #}
{% block content %} 
<div class="page-header" style="text-align: center;">
  <h1>Search</h1>
</div>
    <!--Search bar form that user can type movie title into and click search.-->          
	<form method=POST action="/search/">
	    <input name="search-name" class="form-control" placeholder="Type the name of a student to search." value="" style="margin:auto; width:50%">
	<hr>
	<p><input type="submit" name="submit-btn" class="btn btn-outline btn-xl" value="Search">
	</form>
<br>
<p><a href="/allStudents" class="btn btn-outline btn-xl">View All Students</a>

 
{% endblock %}