<style>

th, tr{
	text-align: center !important;
}

</style>

{% if username == 'admin' %}
	{% extends "logAdmin.html" %}
{% else %}
	{% extends "logUser.html" %}
{% endif %}

{% block content %} 
	<div class="page-header" style="text-align: center;">
	  <h1>Resources</h1>
	</div>
	
	<div>
		<table class="table table-striped" style="background: white !important;">
			<thead class="thead-inverse">
				  <tr>
				    <th>Date Uploaded</th>
				    <th>Name</th> 
				  </tr>
			</thead>
				 <tbody>
				  {% with docs = files %}
				  	{% if docs %}
				  		{% for d in docs %}
							<tr>
								<td>{{d.uploadDate}}</td>
								<td><a href="/worksheets/{{d.file_path}}">{{d.name}}</a></td>
							</tr>
						{% endfor %}
					{% endif %}
				  {% endwith %}
				</tbody>
			</table>
	</div>
{% endblock %}