<style>

th, tr{
	text-align: center !important;
}

</style>


{% extends "logAdmin.html" %}


{% block content %} 
	<div class="page-header" style="text-align: center;">
	  <h1>Update Payment</h1>
	  <h3>{{month}} {{year}}</h3>
	</div>

	<div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    		Select Month
    		<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  			{% with dropdown = months %}
	  		{% if dropdown %}
	  			{% for m in months %}
					<li><a href="/payment/{{m.month}}/{{m.year}}">{{m.month}} {{m.year}}</a></li>
				{% endfor %}
			{% endif %}
	  	{% endwith %}
  		</ul>
	</div>
	<br>
	<div>

		<form method="POST" action="/payment/{{month}}/{{year}}">

			<table class="table table-striped" style="background: white !important;">
				<thead class="thead-inverse">
				  <tr>
				    <th>Status</th>
				    <th>Student</th> 
				    <th>Amount Due ($)</th>
				    <th>Date Paid (mm/dd/yyyy)</th>
				  </tr>
				 </thead>
				 <tbody>
				  {% with allStudents = students %}
				  	{% if allStudents %}
				  		{% for s in allStudents %}
							<tr>
								<td>
									<select name="{{s.sid}}" class="btn-square btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    		{% if s.status == 'paid' %}
							    			<option value="paid" selected>Paid</option>
							    			<option value="unpaid">Unpaid</option>
							    		{% else %}
							    			<option value="paid">Paid</option>
							    			<option value="unpaid" selected>Unpaid</option>
							    		{% endif %}
				    				</select>
				    			</td>
								<td>{{s.name}}</td>
								<td>
									<div class="col-sm-7 col-sm-offset-4">
										<input type="number" name="amount_due_{{s.sid}}" class="form-control" value="{{s.amount_due}}">	
									</div>
								</td>
								<td>
									<div class="col-sm-7 col-sm-offset-4">
										<input type="date" class="form-control" name="date_{{s.sid}}" value="{{s.payDate}}">
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				  {% endwith %}
				</tbody>
			</table>

			<input type="submit" class="btn btn-outline btn-xl" name="submit-btn" value="Update">
	</form>
		
	</div>
{% endblock %}