
{% extends "logAdmin.html" %}


{% block content %} 
	<div class="page-header" style="text-align: center;">
	  <h1>Upload Documents</h1>
	</div>
	<br>
	<div>
		<form action="/upload/" method="POST" enctype="multipart/form-data" style="text-align: left !important">
			<div>
				<p><label for="file_name">File Description: </label> <input type="text" name="name"></p>
				<p><input type="file" name="file"></p>

				<p>
					<label for"students">Choose Student: </label>
					<select name="students">
						{% with all = students%}
				  			{% if all %}
					  			{% for s in all %}
									<option value="{{s.sid}}">{{s.name}}, Grade {{s.grade}}</option>
								{% endfor %}
							{% endif %}
				  		{% endwith %}
					</select>
				</p>
			</div>
			<input type="submit" class="btn btn-outline btn-xl" name="submit-btn" value="Submit">
      </form>
	</div>
{% endblock %}